<nav class="fh5co-nav" role="navigation">
    <div class="container-wrap">
        <div class="top-menu">
            <div class="row">
                <div class="col-xs-2">
                    <div id="fh5co-logo"><a href="{{ path('app_home_page') }}">Neat</a></div>
                </div>
                <div class="col-xs-10 text-right menu-1">
                    <ul>
                        <li class="active"><a href="{{ path('app_home_page') }}">Home</a></li>
                        <li class="has-dropdown">
                            <a href="{{ path('app_appartement_index') }}">Appartement List</a>
                            <ul class="dropdown">
                                {% if is_granted('ROLE_ADMIN') %}
                                    <li><a href="{{ path('proprietaire') }}">Proprietaire</a></li>
                                    <li><a href="{{ path('locataire') }}">Locataire</a></li>
                                    <li><a href="{{ path('location') }}">Locations</a></li>
                                {% endif %}
                            </ul>
                        </li>
                        <li class="has-dropdown">
                            <a href="#">Profil</a>
                            <ul class="dropdown">
                                <li><a href="{{ app.user ? path('app_logout') : path('app_login') }}">{{ app.user ? 'Logout' : 'Login' }}</a></li>
                            </ul>
                        </li>
                        <li><a href="{{ path('app_contact') }}">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
