{% extends 'layout/base.html.twig' %}

{% block title %}edit appartement{% endblock %}

{% block body %}
<div class="container">
    <h1>Proprietaire</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdProp</th>
                <td>{{ proprietaire.IdProp }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ proprietaire.Nom }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ proprietaire.Prenom }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_proprietaire_index') }}">back to list</a>

    <a href="{{ path('app_proprietaire_edit', {'IdProp': proprietaire.IdProp}) }}">edit</a>

    {{ include('proprietaire/_delete_form.html.twig') }}
</div>
{% endblock %}
